@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 0, 120);
    background-color: rgb(164, 152, 234);
    margin-left: 100px;
    display: block;
}

main{
    line-height: 40px;
}

#most-helpful {
    height: 100px;
    width: 350px;
    margin-top: 20px;
}

#submit-button {
    height: 50px;
    width: 150px;
    font-size: 1.0em;
    background-color: rgb(100, 0, 120);
    color: white;
}

#hours-of-sleep {
    padding: 10px;
    margin-top: 10px;
}

#most-helpful{
    margin-top: 10px;
    margin-left: 15px;
}

.most-helpful{
    float:left;
}


