@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 0, 120);
    background-color: rgb(164, 152, 234);
    margin-left: 50px;
    margin-right: 50px;
    margin-top:50px;
    margin-bottom:50px;
    display: block;
}
#robo-customize{
    background: rgb(165, 231, 240);
    opacity: 80%;
    padding: 30px;
}
main{
    line-height: 40px;
}

#most-helpful {
    height: 100px;
    width: 350px;
    margin-top: 20px;
}

#submit-button {
    height: 50px;
    width: 150px;
    font-size: 1.0em;
    background-color: rgb(100, 0, 120);
    color: white;
}

#hours-of-sleep {
    padding: 10px;
    margin-top: 10px;
}

#most-helpful{
    margin-top: 10px;
    margin-left: 15px;
}

.most-helpful{
    float:left;

}

#index-body{
    text-align:center;
}